/**
  
  
   $$$$$$\ $$\   $$\ $$$$$$$$\  $$$$$$\      
   \_$$  _|$$$\  $$ |$$  _____|$$  __$$\     
   $$ |  $$$$\ $$ |$$ |      $$ /  $$ |$$\ 
   $$ |  $$ $$\$$ |$$$$$\    $$ |  $$ |\__|
   $$ |  $$ \$$$$ |$$  __|   $$ |  $$ |    
   $$ |  $$ |\$$$ |$$ |      $$ |  $$ |$$\ 
   $$$$$$\ $$ | \$$ |$$ |       $$$$$$  |\__|
   \______|\__|  \__|\__|       \______/     
   
  
 This assumes the following HTML:

 <div class="boom-input">
  <input type="text" name="search" placeholder="..." />
  <label for="search">
    <i class="nf nf-fa-magnifying_glass"></i>
  </label>
 </div>

 */

/*
 Backup incase the webpage does not import.
 Not recommended to rely on due to significantly impacting page render speed
*/
@import "https://www.nerdfonts.com/assets/css/webfont.css";

.boom-palette {
  --base00: #161616;
  --base01: #262626;
  --base02: #393939;
  --base03: #525252;
  --base04: #dde1e6;
  --base05: #f2f4f8;
  --base06: #ffffff;
  --base07: #08bdba;
  --base08: #3ddbd9;
  --base09: #78a9ff;
  --base0A: #ee5396;
  --base0B: #33b1ff;
  --base0C: #ff7eb6;
  --base0D: #42be65;
  --base0E: #be95ff;
  --base0F: #82cfff;
}

.boom-input {
  --padding: 16px;
  --width: 30%;
  --min-width: 342px;
  --max-width: 512px;
  --radius: 4px;

  /**
   =====================
  */

  background: var(--base01);
  outline: 1px solid var(--base03);

  font-family: monospace;
  font-size: 14px;
  color: var(--base03);

  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  height: fit-content;

  display: flex;
  align-content: center;
  justify-content: space-between;

  border-radius: var(--radius);

  & input {
    all: unset;

    padding: var(--padding);

    pointer-events: all;
    cursor: pointer;

    border: 0;
    outline: 0;
    background-color: transparent;

    font: inherit;
    color: var(--base05);

    flex-grow: 1;

    &::placeholder {
      color: var(--base03);
    }

    & label {
      pointer-events: none;
    }

    & label i {
      font-family: "NerdFontsSymbols Nerd Font";
    }

    &:is([type="text"], [type="password"], [type="url"], [type="search"], ):not(
        :placeholder-shown
      ) {
      & + label {
        display: none;
      }
    }
  }

  &:has(input:focus) {
    outline: 2px solid rgba(from var(--base0E) r g b / 50%);
    transition: outline 100ms ease-in-out;
  }

  &:has(input:active) {
    outline: 2px solid #be95ff80;
  }

  & label {
    padding: var(--padding);
    display: grid;
    place-items: center;
  }
}

.boom-input:has(> input[type="checkbox"]) {
  --unchecked-color: var(--base03);
  --checked-color: var(--base08);
  all: unset;

  background: transparent;

  color: var(--unchecked-color);

  min-width: unset;
  width: fit-content;
  position: relative;

  display: flex;
  justify-content: left;

  & label {
    min-width: max-content;
  }

  &:has(> input[type="checkbox"]:checked) {
    color: var(--checked-color);
  }

  & input[type="checkbox"] {
    display: none;
  }

  &:has(input[type="checkbox"])::before {
    top: 50%;
    translate: 0 -50%;
    position: relative;

    content: "";

    font-family: "NerdFontsSymbols Nerd Font";
    font-size: 12px;
    color: var(--checked-color);
    text-align: center;
    line-height: 16px;

    width: 16px;
    height: 16px;
    aspect-ratio: 1/1;
    padding: 4px;

    border-radius: var(--radius);
    box-shadow: 0 0 0 1px var(--unchecked-color);
  }

  &:has(input[type="checkbox"]:checked)::before {
    content: "ó°„¬";
    box-shadow: 0 0 0 1px var(--checked-color);
  }
}
