* {
  font-family: monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #f2f4f8;
  background: #161616;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &::before {
    content: "# ";
    font-size: 0.875em;
    opacity: 0.4;
  }
}

#all {
  margin-left: 5vw;
  margin-bottom: 1rem;
}

#all-pagination {
  display: flex;
  align-items: center;
  margin-left: 5vw;

  & button {
    background: transparent;
    color: #f2f4f8;
    border: 0;

    cursor: pointer;

    padding: 0.5rem 1rem;
    font-size: 2rem;

    &:hover {
      color: #be95ff;
    }
  }
}

table {
  table-layout: fixed;
  width: 90vw;

  margin: 0 5vw;
  outline: 2px solid #212121;
  border-collapse: collapse;
}

table tr {
  outline: 1px solid #393939;
}

table th {
  text-align: left;
  padding: 1rem 8px;
  font-size: 1.25rem;
  background: #262626;
}

table td {
  height: 64px;
  font-size: 1.4rem;
  border-left: 1px solid #232323;
  padding-left: 8px;

  pointer-events: none;

  overflow-x: auto;
  word-break: break-all;

  & a {
    color: #0f62fe;
    text-decoration: underline;
    cursor: pointer;
    pointer-events: all;

    &:visited {
      color: #79a8ff;
    }
  }
}

table td.image {
  display: flex;
  align-items: center;
  gap: 1rem;
}

table td.image .image-container {
  position: relative;

  display: grid;
  place-items: center;

  width: 48px;
  aspect-ratio: 1/1;
  background: #212121;

  border-radius: 4px;

  & img {
    position: absolute;

    width: 32px;
    scale: 1;
    opacity: 1;
    transition: 1s ease-in-out;
    transition-behavior: allow-discrete;

    @starting-style {
      opacity: 0;
    }
  }
}

table tr:nth-of-type(2n) {
  background: #181818;
}

.hidden {
  display: none;
  opacity: 0;

  @starting-style {
    opacity: 1;
  }
}

.no-transition {
  transition: none !important;
}
