* {
  font-family: monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #f2f4f8;
  background: #161616;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &::before {
    content: "# ";
    font-size: 0.875em;
    opacity: 0.4;
  }
}

#all-pagination {
  display: flex;
  align-items: center;
  margin-left: 5vw;

  & button {
    background: transparent;
    color: #f2f4f8;
    border: 0;

    cursor: pointer;

    padding: 0.5rem 1rem;
    font-size: 2rem;

    &:hover {
      color: #be95ff;
    }
  }
}

table {
  table-layout: fixed;
  width: 90vw;

  margin: 0 5vw;
  border-collapse: collapse;

  overflow: hidden;
  box-shadow: 0 0 0 2px #393939;
  border-radius: 4px;
}

table tr {
  box-shadow: 0 0 0 1px #393939;
}

table th {
  text-align: left;
  padding: 1rem 8px;
  font-size: 1.25rem;
  background: #262626;
}

table td {
  height: 64px;
  font-size: 1.4rem;
  border-left: 1px solid #232323;
  padding-left: 8px;

  pointer-events: none;

  overflow-x: auto;
  word-break: break-all;

  & a {
    color: #0f62fe;
    text-decoration: underline;
    cursor: pointer;
    pointer-events: all;

    &:visited {
      color: #79a8ff;
    }
  }
}

table td.image {
  display: flex;
  align-items: center;
  gap: 1rem;
}

table td.image .image-container {
  position: relative;

  display: grid;
  place-items: center;

  width: 48px;
  aspect-ratio: 1/1;
  background: #212121;

  border-radius: 4px;

  & img {
    position: absolute;

    width: 32px;
    scale: 1;
    opacity: 1;
    transition: 1s ease-in-out;
    transition-behavior: allow-discrete;

    @starting-style {
      opacity: 0;
    }
  }
}

table tr:nth-of-type(2n) {
  background: #181818;
}

.hidden {
  display: none;
  opacity: 0;

  @starting-style {
    opacity: 1;
  }
}

.no-transition {
  transition: none !important;
}

.search-container {
  position: relative;
  left: 5vw;

  margin: 2em 0;

  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form {
  max-width: clamp(
    calc(342px + 2em + 2em + 2em + 5vw),
    calc(1024px),
    calc(100% - 2em - 2em - 5vw)
  );
  padding: 2em;

  margin-left: 5vw;
  margin-bottom: 2em;

  border-radius: 4px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(342px + 4em), 1fr));
  gap: 2em;

  box-shadow: 0 0 0 2px var(--base01);

  & .boom-input:not(:has([type="submit"])) {
    width: auto;
    max-width: none;
  }

  & .boom-input:nth-last-child(4) {
    grid-column: 1/-1;
  }

  & hr {
    color: var(--base01);
    background-color: var(--base01);
    border-color: var(--base01);
    grid-column: 1/-1;
  }

  & .boom-input:has([type="submit"]) {
    grid-column: 1/-2;
    max-width: max-content;

    background: var(--base0D);
    box-shadow: inset 0 0 0 2px oklch(from var(--base0D) 40% c h / 50%);

    & input {
      color: oklch(from var(--base0D) 10% c h);
      font-weight: 700;
      font-family: monospace;
    }

    & label {
      display: inline-block !important;
      color: oklch(from var(--base0D) 10% c h);
      & i {
        font-weight: 900;
      }
    }
  }

  &:has(> .status[data-status="conflict"]) .boom-input {
    &:has(input:not([type="submit"]):not([type="checkbox"])) {
      outline: 1px solid var(--base0C);
    }
  }

  & .status {
    &::before {
      content: var(--text);
      position: relative;
      top: 0;
      left: 0;
      color: var(--text-color);
      width: 100%;
      height: 100%;
    }

    &[data-status="conflict"] {
      --text: "A bang already exists with this trigger!";
      --text-color: var(--base0C);
    }

    &[data-status="success"] {
      --text: "Bang added successfully!";
      --text-color: var(--base0D);
    }
  }

  & .filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
